<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		 http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>com.internet.shop.controllers.IndexController</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allUsers</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetAllUsersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allUsers</servlet-name>
        <url-pattern>/user/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>registration</servlet-name>
        <servlet-class>com.internet.shop.controllers.RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registration</servlet-name>
        <url-pattern>/registration</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>injectData</servlet-name>
        <servlet-class>com.internet.shop.controllers.InjectDataController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>injectData</servlet-name>
        <url-pattern>/injectData</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteUser</servlet-name>
        <servlet-class>com.internet.shop.controllers.DeleteUserController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteUser</servlet-name>
        <url-pattern>/user/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>com.internet.shop.controllers.AddProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/product/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProducts</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetAllProductsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allProducts</servlet-name>
        <url-pattern>/product/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>cartProducts</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cartProducts</servlet-name>
        <url-pattern>/cart/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>com.internet.shop.controllers.AddProductToCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/cart/products/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteFromCart</servlet-name>
        <servlet-class>com.internet.shop.controllers.DeleteProductFromShoppingCartController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteFromCart</servlet-name>
        <url-pattern>/cart/products/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createOrder</servlet-name>
        <servlet-class>com.internet.shop.controllers.CreateOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>createOrder</servlet-name>
        <url-pattern>/order/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>userOrders</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetUserOrdersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>userOrders</servlet-name>
        <url-pattern>/order/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orderProducts</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetOrderDetailsController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>orderProducts</servlet-name>
        <url-pattern>/order/details</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteOrder</servlet-name>
        <servlet-class>com.internet.shop.controllers.DeleteOrderController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteOrder</servlet-name>
        <url-pattern>/order/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allOrders</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetAllOrdersController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allOrders</servlet-name>
        <url-pattern>/order/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allProductsAdmin</servlet-name>
        <servlet-class>com.internet.shop.controllers.GetAllProductsAdminController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>allProductsAdmin</servlet-name>
        <url-pattern>/product/all/admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>com.internet.shop.controllers.DeleteProductController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/product/all/admin/delete</url-pattern>
    </servlet-mapping>
</web-app>
